 <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
        <script src="https://kit.fontawesome.com/94ecab35d1.js" crossorigin="anonymous"></script>
    body
       header.header
        .Container
         div.menu_header
          ul.lista
           li 
            a.link(href="/home") INICIO
           li 
            a.link(href="/about") ABOUT
           li
            a.link(href="add") AGREGAR PELICULA
         .login_header
          ul.lista
            li 
             a.link(href="/logout") SALIR
         
       block nota
         
       script(src="./js/js_edit.js")
     
          
         