extends ./layout/index.pug
block content
     h1= `mi primera aplicacion NODE js `
     h2 Pagina hecha en su totalidad por Lavino29, podran guardar sus link de peliculas y tenerla de modo persistente en un usuario para poder verla luego, hay muchas cosas que mejorar y con el tiempo lo ire haciendo a medida que vaya aprendiendo nuevas cosas 